<!DOCTYPE HTML>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
      <ul class="nav nav-tabs navbar-fixed-top nav-custom">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active" ><a href="#">Labs</a></li>
        <li role="presentation"><a href="./contact">About Me</a></li>
      </ul>

    <div class="container">
      <h1>Test fonctionnement!! Labs</h1>
    </div>
    <% include ../partials/footer.ejs %>
  </body>

</html>
