<!DOCTYPE HTML>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <ul class="nav nav-tabs navbar-fixed-top"">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation" class="active" ><a href="#">Labs</a></li>
      <li role="presentation"><a href="./contact">About Me</a></li>
    </ul>
    <h1>Test fonctionnement!! Labs</h1>
    <% include ../partials/footer.ejs %>
  </body>

</html>
